{% load static %}
<!-- Vendor scrits: js libraries and plugins-->
<script src="{% static 'vendor/jquery/dist/jquery.slim.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/bs-custom-file-input/dist/bs-custom-file-input.min.js' %}"></script>
<script src="{% static 'vendor/simplebar/dist/simplebar.min.js' %}"></script>
<script src="{% static 'vendor/tiny-slider/dist/min/tiny-slider.js' %}"></script>
<script src="{% static 'vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js' %}"></script>
<script src="{% static 'vendor/drift-zoom/dist/Drift.min.js' %}"></script>
<!-- Main theme script-->
<script src="{% static 'js/theme.min.js' %}"></script>
<script
src="https://code.jquery.com/jquery-2.2.4.min.js"
integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
crossorigin="anonymous"></script>