{% extends 'base.html' %}
{% load cart_template_tags %}
{% load crispy_forms_tags %}
{% load static %} 

{% block head_title %}Wishlist{% endblock %}

{% block content %}
 <!-- Page title-->
    <!-- Page Title-->
    <div class="page-title-overlap bg-dark pt-4">
        <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
          <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="czi-home"></i>Home</a></li>
                <li class="breadcrumb-item text-nowrap active" aria-current="page">Wishlist</li>
              </ol>
            </nav>
          </div>
          <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
            <h1 class="h3 text-light mb-0">Wishlist</h1>
          </div>
        </div>
      </div>
      <!-- Page Content-->
      <div class="container pb-5 mb-2 mb-md-4">
        <div class="row">
        
          <!-- Content  -->
          <section class="col-lg-8">
            <!-- Toolbar-->
            <div class="d-none d-lg-flex justify-content-between align-items-center pt-lg-3 pb-4 pb-lg-5 mb-lg-3">
                
            </div>
            {% for product in favorites %}
            <!-- Item-->
            <div class="d-sm-flex justify-content-between mt-lg-4 mb-4 pb-3 pb-sm-2 border-bottom">
              
              {% if product.category == 'cosmetic' %}
              <div class="media media-ie-fix d-block d-sm-flex text-center text-sm-left"><a class="d-inline-block mx-auto mr-sm-4" href="{{product.get_absolute_url}}" style="width: 10rem;"><img src="/media/{{ product.photo_main  }}" alt="Product"></a>
                <div class="media-body pt-2">
                
                  <h3 class="product-title font-size-base mb-2"><a href="{{product.get_absolute_url}}">{{ product.title }}</a></h3>
                  <div class="font-size-sm"><span class="text-muted mr-2">Category:</span><a class="product-meta" href="{% url 'pages:products' category=product.category %}">{{product.category}}</a></div>
                  
               
                  
                  <div class="font-size-lg text-accent pt-2">
                    {% include "partials/_price.html" %}                  
                  </div>
                </div>
                {% else %}
                <div class="media media-ie-fix d-block d-sm-flex text-center text-sm-left"><a class="d-inline-block mx-auto mr-sm-4" href="{{product.get_absolute_url}}" style="width: 10rem;"><img src="/media/{{ product.get_main_photo  }}" alt="Product"></a>

                <div class="media-body pt-2">
                
                  <h3 class="product-title font-size-base mb-2"><a href="{{product.get_absolute_url}}">{{ product.title }}</a></h3>
                  <div class="font-size-sm"><span class="text-muted mr-2">Category:</span><a class="product-meta" href="{% url 'pages:products' category=product.category|get_category_from_key %}">{{product.get_category_display}}</a></div>
                  
                  {% if product.get_hashed_colors|length > 1 %}
                  <div class="font-size-sm"><span class="text-muted mr-2">Color:</span>+{{product.get_hashed_colors|length}} couleurs</div>

                  {% else %}

                  <div class="font-size-sm"><span class="text-muted mr-2">Color:</span>{{product.get_hashed_colors|length}} couleur</div>

                  {% endif %}
                  
                  
                  <div class="font-size-lg text-accent pt-2">
                    {% include "partials/_price.html" %}                  
                  </div>
                </div>
              
                {% endif %}
              </div>
            </div>

            {% endfor %}
         
          </section>
        </div>
      </div>

{% endblock content %}

    
{% block extra_scripts %}
  
{% include "partials/scripts/_add_to_favorite_script.html" %}
{% include "partials/scripts/_get_wishlist_share_url.html" %}

{% endblock extra_scripts %}